* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
body{
background-color:#fb5012;
}
div.container{
width:40rem;
border-radius: 25px;
box-shadow: 10px 10px 5px #2b2733;
background-color:white;
margin:5% auto;
display:grid;
grid-template-areas:"h1 h1"
                    "input submit"
                    "ul ul";

}
div > h1{
grid-area: h1;
}
div > .text{
grid-area: input;
}
div > #submit{
grid-area: submit;
} 
li {
text-transform : capitalize;
padding:2%;
border-top:1px solid  #03fcba;
border-bottom:1px solid  #03fcba;
border-right:1px solid  #03fcba;
} 
ul li.checked { 
text-decoration: line-through;
}
ul{
padding: 10% 5% 10% 0;
list-style-type:none;
grid-area: ul;
}
h1{
text-align:center;
padding : 5%;
font-size: 2rem;
}
input{
border-top:1px solid #03fcba;
border-bottom:1px solid #03fcba;
padding: 2%;
}
#submit{
background-color: #03fcba;

}

